<div class="principal">
    <nav class="step-process">
        <ul>
          <form>
            <li class="step">
               <div class="up-image">
                  <p id="txt-enviarfile">Agregar logo</p>
                  <input (change)="onSelectFile($event)" type="file" id="btn_enviarfile" name="file" accept="image/png, image/jpeg" />
                  <input type="button" id="btn_eliminarfile" value="Eliminar"/>
                  <img id="img_logo" src="" width="50px" height="25px"/>
                  <p id="txt_value"></p>
              </div>
            </li>
            <li class="step">
              <div class="nombre">
                <input type="text" autocomplete="off" name="titulo"  placeholder="Ingresar el nombre de la encuesta"/>
              </div>
            </li>
            <li class="step">
              <div class="descripcion">
                  <p>Descripción</p>
                  <textarea  autocomplete="off" placeholder="Ingresar máximo 100 caracteres" name="mensaje"></textarea>
              </div>  
            </li>
            <li class="step">
              <div class="side">
                <div id="left">
                  <p>Fecha de validez</p>
                  <input type="date" autocomplete="off" id="fecha-inicio" name="fechaInicio" />
                   <p id="txt-fecha-inicio">Inicio:</p>
                  <input type="date" autocomplete="off" id="fecha-fin" name="fechaFin"  />
                  <p id="txt-fecha-fin">Fin:</p>
                </div>
                <div id="right">
                  <p>Seleccionar la unidad</p>
                  <input id="rd-negocio" name="unidad" type="radio"/><label for="rd-negocio" id="lbl-negocio">Negocio</label>
                  <input id="rd-estracto" name="unidad" type="radio"/><label for="rd-estracto" id="lbl-estracto">Estracto</label>
                  <input type="submit" value="Continuar"/>
                </div>
                
              </div>
            </li>
          </form>
        </ul>
    </nav>
  </div>
  
  <div id="modelo">
    <div id="cuerpo">
        <div class="spinner-border"></div>
        <p id="texto">Procesando, espere por favor...</p>
    </div>  
  </div>
