<div class="container-fluid">
    <div class="row ml-0 mr-0 " id="header">
        <nav class="navbar navbar-expand-lg nav-navbar" id="header">
            <div class="col-6 offset-2 text-center pt-2 pl-12">
                <img class="img-fluid" src="../../assets/img/name-notisurvey.png" (click)="home()">
            </div>

            <div class="collapse margin-right " id="navbarNavDropdown" class="col-3 margin-left">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink info" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{usuario.correo}}
                             </a>
                        <div class="dropdown-menu" id="item-color" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" (click)="home()">Inicio</a>
                            <a class="dropdown-item">Usuario - "{{usuario.nombre}}"</a>
                            <a class="dropdown-item" (click)="salir()">Cerrar Sessión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </div>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" id="nav-iteme">
                    <a class="nav-link" [routerLink]="'diseño-encuesta'" [routerLinkActive]="['active']">Diseño de Encuesta</a>
                </li>
                <li class="nav-item" id="nav-iteme">
                    <a class="nav-link" [routerLink]="'secciones'" [routerLinkActive]="['active']">Secciones</a>
                </li>
                <li class="nav-item" id="nav-iteme">
                    <a class="nav-link" [routerLink]="'preguntas'" [routerLinkActive]="['active']">Preguntas</a>
                </li>
                <li class="nav-item" style="border-right: none;">
                    <a class="nav-link" [routerLink]="'resultado-final'" [routerLinkActive]="['active']">Cierre de Encuesta</a>
                </li>
                <!--<li class="nav-item" style="border: none;">
                    <button type="button" class="btn btn-primary btn-guardar">Guardar</button>
                </li>-->
            </ul>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>