.principal{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 605px !important;
    font-family: 'Open Sans', sans-serif;
    
}

@media screen and (min-width: 700px){
    .box-pregunta{
        height: 60%;
        min-width:40%;
        margin:8% 32%;
        padding: 15px;
        position: absolute;
    }

    img{
        height: 100px;
        margin-left: 33%;
    }

    #show-hide-passwd1{
        position: absolute;
        margin-top: 183px;
        margin-left: 215px;
        border: none;
        background-color: transparent;
    }
    
    #show-hide-passwd2{
        position: absolute;
        margin-top: 183px;
        margin-left: 220px;;
        border: none;
        background-color: transparent;
    }
    #modelo{
        position: absolute;
        display: none;
        width: 100%;
        height:100%;
        background: rgba(0,0,0,.4);
    }
    
    #modelo #cuerpo{
        border-radius: 5px;
        background-color: white;
        margin: 25% auto !important;
        padding: 10px;
        width: 20% !important;
    }
    
    #texto{
        font-size: 15px;
        margin-top: -27px;
        float: left;
    }
    
    .spinner-border{
        padding: 0px;
        margin-left:230px !important;
        text-align: center;
        margin: 5px;
    }
}

@media screen and (min-width: 320px) and (max-width:559px){
    .box-pregunta{
        height: 60%;
        min-width:40%;
        margin:25% 6%;
        padding: 15px;
        position: absolute;
    }

    img{
        height: 100px;
        margin-left: 60px;
    }

    #show-hide-passwd1{
        position: absolute;
        margin:182px 99px;
        border: none;
        background-color: transparent;
    }
    
    #show-hide-passwd2{
        position: absolute;
        margin:182px 105px;
        border: none;
        background-color: transparent;
    }

    #modelo{
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.4);
    }
    
    #modelo #cuerpo{
        border-radius: 5px;
        background-color: white;
        margin: 80% auto !important;
        padding: 10px;
        width: 74% !important;
    }
    
    #texto{
        font-size: 15px;
        margin-top: -27px;
        float: left;
    }
    
    .spinner-border{
        padding: 0px;
        margin-left:230px !important;
        text-align: center;
        margin: 5px;
    }

}

@media screen and (min-width: 600px) and (max-width:700px){
    .box-pregunta{
        height: 60%;
        min-width:40%;
        margin:10px 150px;
        padding: 15px;
        position: absolute;
    }

    img{
        height: 100px;
        margin-left: 60px;
    }

    #show-hide-passwd1{
        position: absolute;
        margin:183px 134px;
        border: none;
        background-color: transparent;
    }
    
    #show-hide-passwd2{
        position: absolute;
        margin:183px 140px;
        border: none;
        background-color: transparent;
    }

    #modelo{
        position: absolute;
        display: none;
        width: 100%;
        height: 600px;
        background: rgba(0,0,0,.4);
    }
    
    #modelo #cuerpo{
        border-radius: 5px;
        background-color: white;
        margin: 25% auto !important;
        padding: 10px;
        width: 40% !important;
    }
    
    #texto{
        font-size: 15px;
        margin-top: -27px;
        float: left;
    }
    
    .spinner-border{
        padding: 0px;
        margin-left:230px !important;
        text-align: center;
        margin: 5px;
    }
}

label{
    margin-top: 20px;
    display: block;
    text-align: left;
    color: #757E7F;
    font-size: 20px;
}

.contador{
    clear: both;
    color: #757E7F;
    font-size: 20px;
    margin-top: 70px;
}

form input[type=text]{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border: 1px solid #EA792D;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 20px;
}

form input[type="button"]{
    float: right;
    display: block;
    margin-top: 20px;
    height: 40px;
    min-width: 20%;
    background-color:#EA8947;
    border: 2px solid #EA792D;
    border-radius: 4px;
    color: white;
    outline: none;
    box-sizing: border-box;
    border-color: .15s;
}

form input[type=text]:click{
    box-shadow: 0 0 5px 0 #EA792D;
}

form input[type=button]:hover{
    box-shadow: 0 0 5px 0 #EA792D;
}

form input[type=text]:focus{
    box-shadow: 0 0 5px 0 #EA792D;
}

form input[type=password]{
    width: 100%;
    height: 40px;
    border: 1px solid #EA792D;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    display: block;

}

form input[type=password]:focus{
    box-shadow: 0 0 5px 0 #ea792d;
}

#form-pregunta1{
    width:100%;
    text-align: left;
    display: block;
}

#form-pregunta2{
    width:100%;
    text-align: left;
    display: none;
}

#form-pregunta3{
    width:100%;
    text-align: left;
    display: none;
}

#form-pregunta4{
    width:100%;
    text-align: left;
    display: none;
}

#form-pregunta5{
    width:100%;
    text-align: left;
    display: none;
}


#form-pregunta6{
    width:100%;
    text-align: left;
    display: none;
}

.btn-left{
   position: relative;
   float:left !important;
}

.btn-right{
    position: relative;
    float: right !important;
}

.btn-cancelar{
    margin-right: 6px;
    position: relative;
    float: right !important;
}

form input[type="button"]:disabled{
    background-color: #f8d6c0;
    color: #fef9f7;
    border: none;
}

#password-left{
    float: left;
    width: 50%;
    padding-left: 15px;
    height: 60px;
}

#password-right{
    float: left;
    width: 50%;
    height: 60px;
    padding-left: 10px;
}

.validacion{
    position: absolute;
    color: red;
    font-size: small;
    width: 43%;
    text-align: right;
    margin-top: 6%;
    margin-left: -240px;
    margin: 1px solid red;
}