.container-fluid{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 605px !important;
    font-family: 'Open Sans', sans-serif;
    
}

@media screen and (min-width: 320px) and (max-width:619px){
    .box-pregunta{
        margin:15% 0px !important;
    }

    img{
        margin-top: 70px !important;
        margin-left: 90px !important;
    }

    .fa{
        margin-top: -50px !important;
        margin-left: 125px !important;
    }

    .hide{
        margin-left: 130px !important;
    }

    .validacion{
        width: 60% !important;
        margin-top: 9% !important;
        margin-left: -214px !important;
    }

    
}

@media screen and (min-width: 630px) and (max-width:1200px){
    .box-pregunta{
        margin: 80px 110px !important;
    }

    .fa{
        margin-top: -50px !important;
        margin-left: 155px !important;
    }

    .hide{
        margin-left: 160px !important;
    }
}

.box-pregunta{
    height: 60%;
    min-width:40%;
    margin:80px 450px;
    padding: 15px;
    position: absolute;
}

img{
    height: 100px;
    margin-left: 150px;
}

   

label{
    margin-top: 20px;
    display: block;
    text-align: left;
    color: #757E7F;
    font-size: 20px;
}

.contador{
    clear: both;
    color: #757E7F;
    font-size: 20px;
    margin-top: 70px;
}

form .texto{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border: 1px solid #EA792D;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 20px;
}

form input[type="button"]{
    float: right;
    display: block;
    margin-top: 20px;
    height: 40px;
    min-width: 20%;
    background-color:#EA8947;
    border: 2px solid #EA792D;
    border-radius: 4px;
    color: white;
    outline: none;
    box-sizing: border-box;
    border-color: .15s;
}

.texto:click{
    box-shadow: 0 0 5px 0 #EA792D;
}

form input[type=button]:hover{
    box-shadow: 0 0 5px 0 #EA792D;
}

.texto:focus{
    box-shadow: 0 0 5px 0 #EA792D;
}

.password{
    width: 100%;
    height: 40px;
    border: 1px solid #EA792D;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    display: block;

}

.password:focus{
    box-shadow: 0 0 5px 0 #ea792d;
}

#form-pregunta1{
    width:100%;
    text-align: left;
    display: block;
}

#form-pregunta2{
    width:100%;
    text-align: left;
    display: none;
}

#form-pregunta3{
    width:100%;
    text-align: left;
    display: none;
}

#form-pregunta4{
    width:100%;
    text-align: left;
    display: none;
}

#form-pregunta5{
    width:100%;
    text-align: left;
    display: none;
}


#form-pregunta6{
    width:100%;
    text-align: left;
    display: none;
}

.btn-left{
   position: relative;
   float:left !important;
}

.btn-right{
    position: relative;
    float: right !important;
}

.btn-cancelar{
    margin-right: 6px;
    position: relative;
    float: right !important;
}

form input[type="button"]:disabled{
    background-color: #f8d6c0;
    color: #fef9f7;
    border: none;
}

#password-left{
    float: left;
    width: 50%;
    padding-left: 15px;
    height: 60px;
}

#password-right{
    float: left;
    width: 50%;
    height: 60px;
    padding-left: 10px;
}

.validacion{
    position: absolute;
    color: red;
    font-size: small;
    width: 43%;
    text-align: right;
    margin-top: 5%;
    margin-left: -240px;
    margin: 1px solid red;
}

.fa{
    position: absolute;
    margin-top: -50px;
    margin-left: 215px;
    border: none;
    background-color: transparent;
}

.hide{
    position: absolute;
    margin-top: -50px;
    margin-left: 220px;
}

/deep/ .loading{
    height: 10px !important;
    padding: 0px !important;
}

/deep/ .spinner-border{
    margin-top:-15px !important;
}

/deep/ .text-dark{
    margin-top:-10px !important;
}