<div class="principal">
    <nav class="step-process">
      <p>Definir nombre y descripcion a las secciones de su encuenta</p>
      <form>
           <ul class="ul-step">
                <li id="li-clonar">
                  <div class="seccion">
                      <p>Sección</p>
                          <input  class="nombres" name="nombres" autocomplete="off" class="campo" type="text" placeholder="Ingresar el nombre"/>
                          <textarea name="descripcion" autocomplete="off" class="campo" placeholder="Ingresar descripcion, máximo 100 caracteres"></textarea>
                    </div>  
                </li>
          </ul>
          <input type="button"  id="btn-agregarSeccion"value="Agregar Sección"/>
          <input type="submit" value="Continuar" />
      </form>
    </nav>
  </div> 
