<div class="principal">
    <div class="row ml-0 mr-0" id="header">
        <div class="nav-navbar container">
            <nav class="navbar  navbar-expand-lg row">
                <div class="col-6 offset-2 text-center pt-2 pl-12">
                    <img class="img-fluid" src="../../assets/img/name-notisurvey.png">
                </div>

                <div class="collapse " id="navbarNavDropdown" class="col-2">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{usuario.correo}}
                         </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" id="menu">Inicio</a>
                                <a class="dropdown-item" id="menu">Usuario - "{{usuario.nombre}}"</a>
                                <a class="dropdown-item" id="menu" (click)="salir()">Cerrar Sessión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>

    <!--<div class="col-1 p-0 pt-2 pl-2 text-left">
            <img class="img-fluid" src="../../assets/img/ico-down.png">
           </div>-->
    <div class="box-left">
        <table class="table">
            <thead class="thead-dark">
                <tr style="border: 2px solid #ea792d;">
                    <th scope="col">Nro</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Modificado</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Diseñar</th>
                </tr>
            </thead>
            <tbody *ngFor="let lista of listaEncuesta;let i = index">
                <tr style="border: 2px solid #dddddd;">
                    <th>{{i+1}}</th>
                    <td>{{lista.titulo}}</td>
                    <td>{{lista.fechaInicio}}</td>
                    <td>{{lista.mensaje}}</td>
                    <td><input id="btn-editar" (click)="getIdEncuesta(lista.sesEncuestaPK.idEncuesta)" type="button" /></td>
                </tr>
            </tbody>
        </table>
        <app-paginador *ngIf="totalEncuesta!=0" [totalDatos]="totalEncuesta" [datosPorpagina]="size" (paginaSeleccionada)="getpaginacion($event)"></app-paginador>
    </div>
    <div class="box-right">
        <div class="box" id="box-up">

        </div>

        <div class="box">

        </div>

        <div class="box">

        </div>

        <div class="box">

        </div>
        <input type="button" class="btn-crear" (click)="redidirigirPrincipal()" value="Crear Encuesta" />
    </div>
</div>