<div class="principal">
    <div class="row ml-0 mr-0" id="header" >
        <div class="col-6 offset-3 text-center pt-2 pl-12" >
            <img class="img-fluid" src="../../../assets/img/name-notisurvey.png">
        </div>
  
        <div class="col-2 p-0 pt-2 text-right text" >
          <p class="text-white">{{usuario.correo}}</p>
        </div>
  
      <div class="col-1 p-0 pt-2 pl-2 text-left">
        <img class="img-fluid" src="../../../assets/img/ico-down.png">
      </div>
    </div>
   <div class="box-left">
       <table class="table">
           <thead class="thead-dark">
             <tr style="border: 2px solid #ea792d;">
               <th scope="col">Nro</th>
               <th scope="col">Titulo</th>
               <th scope="col">Modificado</th>
               <th scope="col">Descripcion</th>
               <th scope="col">Diseñar</th>
             </tr>
           </thead>
           <tbody *ngFor="let lista of listaEncuesta;let i = index">
             <tr style="border: 2px solid #dddddd;">
               <th>{{i+1}}</th>
               <td>{{lista.titulo}}</td>
               <td>{{lista.fechaInicio}}</td>
               <td>{{lista.mensaje}}</td>
               <td><input id="btn-editar" type="button" /></td>
             </tr>
           </tbody>
         </table>
          <app-paginador *ngIf="paginas!=0"  [totalDatos]="130"  [datosPorpagina]="size"  (paginaSeleccionada)="getpaginacion($event)"  ></app-paginador>
         <input type="button" class="btn-crear" (click)="redidirigirPrincipal()" value="Crear Encuesta"/>
   </div>
   <div class="box-right">
       <div class="box" id="box-up">

       </div>

       <div class="box">
         
       </div>

       <div class="box">
         
       </div>

       <div class="box">
         
       </div>
       <input type="button" class="btn-crear" (click)="redidirigirPrincipal()" value="Crear Encuesta"/>
   </div>
</div>

