
<div class="container-fluid ">
    <h1>Selecciona e ingresa las preguntas adecuada para cada sección</h1>
      <div class="row justify-content-center">
        <div id="accordion" class="col-10">
            <div class="card" *ngFor="let crear of crearSeccionList ; index as i">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0 ml-5">
                  <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse-'+i" aria-expanded="true" aria-controls="collapseOne">
                    Sección {{i+1}} - {{crear.titulo}}
                  </button>
                </h5>
              </div>
          
              <div id="{{'collapse-'+i}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <nav class="step-process">
                        <ul class="ul-stepPregunta">
                            <li id="li-clonarPregunta">
                              <div class="seccion">
                                  <p>. Enunciado</p>
                                  <input autocomplete="off" class="campo" type="text" placeholder="Ingresar pregunta"/>
                                  <p id="selc-pregunta">Seleccione el tipo de pregunta</p>
                                  <input id="{{i}}-rd-abierta" name="{{i}}_unidad" type="radio"/><label id="{{i}}-rd-abierta-label" (click)="saveTipoPregunta($event.target.id,0,i)" for="{{i}}-rd-abierta">Abierta</label>
                                  <input id="{{i}}-rd-siOno" name="{{i}}_unidad" type="radio"/><label id="{{i}}-rd-siOno-label" for="{{i}}-rd-siOno" (click)="saveTipoPregunta($event.target.id,0,i)">Si o No</label>
                                  <input id="{{i}}-rd-multiple" name="{{i}}_unidad" type="radio"/><label id="{{i}}-rd-multiple-label" for="{{i}}-rd-multiple" (click)="saveTipoPregunta($event.target.id,0,i)">Multiple</label>
                                  <input id="{{i}}-rd-multipleRespuesta" name="{{i}}_unidad" type="radio"/><label id="{{i}}-rd-multipleRespuesta-label" for="{{i}}-rd-multipleRespuesta" data-toggle="modal" [attr.data-target]="'#Modal-'+i" (click)="sorteable(i)" (click)="saveTipoPregunta($event.target.id,0,i)">Multiple Respuesta</label>
                                  <input id="{{i}}-rd-file" name="{{i}}_unidad" type="radio"/><label id="{{i}}-rd-file-label" for="{{i}}-rd-file" (click)="saveTipoPregunta($event.target.id,0,i)">File</label>
                              </div>  
                            </li>
                        </ul>
                        <input type="button" class="btn-primary btn-agregarPregunta" value="Agregar Pregunta"/>
                    </nav>
                </div>
              </div>
            </div>
            <br><br>
          </div>
      </div> 
</div>

 <!-- Modal -->
 <div *ngFor="let crea of crearSeccionList ; index as i">
    <div class="modal fade" id="{{'Modal-'+i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
      <div class="modal-dialog"  role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title pl-4" id="exampleModal3Label" style="color: #EA792D;">Tipo de pregunta: <b>Multiple respuestas</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row" style="background-color: #f7f7f7;">
              <div class="col-12 pt-3 pl-5">
                  <p>Personaliza tu pregunta:<span style="color: #EA792D;"> ¿Porque debemos renovar año a año el reglamento interno?</span> </p>
              </div>
            </div>
            <div class="row">
              <div class="col-6 pt-3 pl-5">
                  <p>1. Agregue una etiqueta</p>
              </div>
              <div class="col-6 pt-3">
                <p>2. Agregue un valor</p>
            </div>
            </div>
            <div class="row">
              <div class="col-12 pt-3 pl-5">
                  <p>3. Arrastre las respuesta en el orden deseado</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 pt-3 pl-5">
                  <ul id="{{'sortable-'+i}}">
                    <li class="ui-state-default">Item 1</li>
                    <li class="ui-state-default">Item 2</li>
                    <li class="ui-state-default">Item 3</li>
                    <li class="ui-state-default">Item 4</li>
                  </ul>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" style="display: none;" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>


