<div class="principal">
    <div class="box">
        <div class="form-olvide">
            <img src="../../assets/img/logo-notisurvey.png">
            <p id="olvide">Olvidé  mi contraseña</p>
            <p id="intro">Ingresa tu Usuario o Correo Electrónico registrado para recuperar tu contraseña</p>
            <form>
                <label>Usuario o Correo Electrónico</label>
                <input type="text" name="usuario" autofocus/>
                <input type="submit" value="Recuperar Contraseña"/>
                <!-- <app-paginador *ngIf="totpaginate!=0"  [totalDatos]="numTotUsers"  [datosPorpagina]="perpage"  (paginaSeleccionada)="getpaginacion($event)"  ></app-paginador> -->
            </form>
        </div>
    </div>
</div>
